<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wander.NetEaseNews"
          android:versionCode="1"
          android:versionName="1.0"
        >

    <uses-sdk android:minSdkVersion="19"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
            android:label="@string/app_name"
            android:icon="@drawable/icon_community"
            android:name=".AppCreate"
            >
        <activity
                android:name=".Activities.WelcomeActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--android:theme="@style/CustomTabPageIndicator"-->
        <activity
                android:name=".Activities.MainActivity"
                />
        <activity
                android:name=".Activities.baseActivity"
                android:theme="@style/CustomTitle"
                />
    </application>
</manifest>
